.popUp{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem;
    height: 15rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    border: 1px solid rgba(85, 40, 32, 0.404);
    box-shadow: 3px 3px 10px rgb(114, 63, 5);
    border-radius: 5px;
    padding: 2rem;
    font-family: 'Anton', sans-serif;
    background-color: rgba(126, 13, 13, 0.335);
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    display: none;
}

#status{
    width: 7.5rem;
    background-color: rgba(255, 255, 255, 0.63);
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input{
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.63);
    outline: none;
    border: none;
    border-radius: 3px;
}

body{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.popBtn{
    font-family: 'Anton', sans-serif;
    background-color: rgba(202, 104, 38, 0.657);
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    vertical-align: middle;
    margin-left: 4.5rem;
    
}

.popBtn:hover{
    background-color: rgba(151, 85, 40, 0.657);
    box-shadow: 3px 3px 10px rgb(160, 120, 163);
}

.submitBtn{
    background-color: rgba(204, 144, 104, 0.657);
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
}

.submitBtn:hover{
    background-color: rgba(168, 86, 31, 0.657);
    box-shadow: 3px 3px 10px rgb(160, 120, 163);
}

.bookContainer{
    display: flex;
    flex-direction: row;
    border: 3px solid rgba(255, 255, 255, 0.376);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    background-color: rgba(126, 13, 13, 0.335);
    display: none;
    
}

.changeStatus, .deleteBtn{
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 5px;
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    background-color: rgba(204, 144, 104, 0.657);
    cursor: pointer;
}

 .deleteBtn:hover{
    background-color: rgba(168, 86, 31, 0.657);
    box-shadow: 3px 3px 10px rgb(160, 120, 163);
}

.changeStatus:hover{
    background-color: rgba(168, 86, 31, 0.657);
    box-shadow: 3px 3px 10px rgb(160, 120, 163);
}

.mainTitle{
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 5px #330b38;
    font-size: 3rem;
}

.closeBtn{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: end;
}

.closeDiv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0;
}

.closeBtn:hover{
    transform: scale(1.2);
    color: rgb(199, 198, 198);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.popContainer{
    flex-direction: column;
}

.cc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}